<section id="contact" class="bg-black text-white py-16 px-6 appScrollAnimate" animation="animate__fadeInUp">
  <h2 class="text-4xl font-bold text-center mb-10">Contact</h2>
  <div class="max-w-3xl mx-auto text-lg space-y-6 text-center">
    <p>If you'd like to work together, collaborate on a project, or just say hi — I'm always open to new opportunities!</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-8">
      <div class="flex items-center gap-4 justify-center animate__animated animate__fadeInUp animate__slower">
        <fa-icon [icon]="faEnvelope" class="text-red-500 text-xl"></fa-icon>
        <a href="mailto:g.adrian.gonzalez.90@gmail.com" class="text-red-500 hover:underline">
          g.adrian.gonzalez.90@gmail.com
        </a>
      </div>
      <div class="flex items-center gap-4 justify-center animate__animated animate__fadeInUp animate__slower">
        <fa-icon [icon]="faEnvelope" class="text-red-500 text-xl"></fa-icon>
        <a href="mailto:g.adrian.gonzalez.90@outlook.com" class="text-red-500 hover:underline">
          g.adrian.gonzalez.90@outlook.com
        </a>
      </div>
      <div class="flex items-center gap-4 justify-center animate__animated animate__fadeInUp animate__slower">
        <fa-icon [icon]="faGithub" class="text-red-500 text-xl"></fa-icon>
        <a href="https://github.com/adriangonzalez-code" target="_blank" class="text-red-500 hover:underline">
          @adriangonzalez-code
        </a>
      </div>
      <div class="flex items-center gap-4 justify-center animate__animated animate__fadeInUp animate__slower">
        <fa-icon [icon]="faLinkedId" class="text-red-500 text-xl"></fa-icon>
        <a href="https://www.linkedin.com/in/adriangonzalez-backend/" target="_blank" class="text-red-500 hover:underline">
          linkedin.com/in/adriangonzalez-backend
        </a>
      </div>
    </div>
  </div>
</section>
