<!-- EXPERIENCE COMPONENT -->
<section id="experience" class="flex flex-col justify-center px-6 bg-gradient-to-r from-black to-gray-900 py-20 animate__animated animate__fadeIn animate__slow">
  <header>
    <h2 class="text-5xl font-bold text-center mb-10 mt-5 animate__animated animate__zoomIn text-gray-400">
      Professional Experience
    </h2>
  </header>
  <div class="max-w-5xl mx-auto space-y-8 text-white">
    <article *ngFor="let experience of experiences; let i = index"
             class="border-l-4 border-red-700 pl-6 opacity-0 animate-fadeInUp"
             [style.animationDelay]="(i * 0.3) + 's'">
      <h3 class="text-2xl font-semibold">{{ experience.name }}</h3>
      <time class="text-sm text-gray-400">{{ experience.date }}</time>
      <div class="mt-2 text-gray-300 text-justify" [innerHTML]="experience.description">
      </div>
      <div class="flex flex-wrap gap-2 mt-4">
        <span *ngFor="let tech of experience.technologies"
              class="bg-red-700 text-white px-3 py-1 rounded-full text-xs font-semibold shadow-sm">
          {{ tech }}
        </span>
      </div>
    </article>
  </div>
</section>
