<!-- EXPERIENCE COMPONENT -->
<section id="experience" class="bg-gray-900 text-white py-16 px-6 reveal-right min-h-screen">
  <h2 class="text-4xl font-bold text-center mb-10 mt-5">Experience</h2>
  <div class="max-w-5xl mx-auto space-y-8">
    <div class="border-l-4 border-red-700 pl-6">
      <h3 class="text-2xl font-semibold">Sr Software Engineer — TechMahindra</h3>
      <span class="text-sm text-gray-400">May 2024 – Present</span>
      <p class="mt-2 text-gray-300">
        Leading the migration of legacy Spring Framework 3 (XML-based) applications to modern Spring Framework 5 and Spring Boot, adopting annotation-driven configurations. Responsible for production bug resolution, proactive monitoring with Datadog, and continuous integration and deployments using Maven and GitLab. Focused on delivering robust, maintainable backend solutions in a dynamic environment.
      </p>
    </div>
    <div class="border-l-4 border-red-700 pl-6">
      <h3 class="text-2xl font-semibold">Sr Java Web Developer — Motivus</h3>
      <span class="text-sm text-gray-400">May 2021 – May 2024</span>
      <p class="mt-2 text-gray-300">
        Enhanced operational efficiency by standardizing microservice code and utilizing Splunk for real-time monitoring and failure detection. Developed and maintained services with RestTemplate, improving log visibility and error tracking. Created dashboards and alerts in Splunk, reducing undetected issues by 90%. Led migrations to the latest Java, Spring Boot, and OpenShift versions, and collaborated with QA to minimize bugs and ensure successful production releases. Facilitated team onboarding and improved English proficiency to B1 level, strengthening team integration.
      </p>
    </div>
    <div class="border-l-4 border-red-700 pl-6">
      <h3 class="text-2xl font-semibold">SSr Java Web Developer — Dess-Ti</h3>
      <span class="text-sm text-gray-400">Sep 2020 – May 2021</span>
      <p class="mt-2 text-gray-300">
        Developed foundational microservices with Spring Boot, applying Java 8 features and design patterns to improve code quality and efficiency by 50%. Gained experience with relational databases and PL/SQL, and led deployments to IBM WebSphere, enhancing team deployment practices.
      </p>
    </div>
    <div class="border-l-4 border-red-700 pl-6">
      <h3 class="text-2xl font-semibold">Jr Java Web Developer — IDS Comercial</h3>
      <span class="text-sm text-gray-400">Feb 2020 – Jul 2020</span>
      <p class="mt-2 text-gray-300">
        Contributed to the development of a monolithic application with Spring MVC, integrating JavaScript and HTML to enhance frontend interactivity and user engagement. Focused on building and maintaining a stable backend architecture.
      </p>
    </div>
    <div class="border-l-4 border-red-700 pl-6">
      <h3 class="text-2xl font-semibold">Jr Full-Stack Java Web Developer — Sacti Consultores</h3>
      <span class="text-sm text-gray-400">Aug 2018 – Feb 2020</span>
      <p class="mt-2 text-gray-300">
        Developed new features for an e-commerce web application using Java and Spring MVC. Worked on frontend with HTML, CSS, and JavaScript, contributing to a seamless user experience and building foundational full-stack skills.
      </p>
    </div>
    <div class="border-l-4 border-red-700 pl-6">
      <h3 class="text-2xl font-semibold">Jr Web Developer — iTrends</h3>
      <span class="text-sm text-gray-400">Aug 2017 – Aug 2018</span>
      <p class="mt-2 text-gray-300">
        Developed custom web applications with PHP and Laravel, HTML, CSS, and JS, focusing on backend development, database management, and mobile application integration.
      </p>
    </div>
  </div>
</section>
