<!-- HERO SECTION -->
<section id="home" class="min-h-[85vh] flex flex-col justify-center items-center pt-24 px-6 text-white bg-gradient-to-r from-black to-gray-900 text-center mb-4 sm:mb-0 md:mb-8 xl:mb-0">
  <a class="flex flex-col items-center">
    <img src="assets/Logo%20Driagon%20CSF.png" alt="Driagon Logo" class="h-60 lg:h-80 mb-6 animate__animated animate__pulse animate__infinite animate__slower" />
    <h1 class="text-5xl md:text-6xl font-bold animate__animated animate__fadeIn">Hi, I'm <span class="text-red-700">Driagon</span></h1>
  </a>
  <p class="mt-4 text-xl md:text-2xl max-w-2xl animate__animated animate__fadeInUp animate__slow">
    Java & Spring Boot Developer with a passion for clean architecture, scalable APIs, and tech that matters.
  </p>
  <button type="button" [routerLink]="'/contact'" class="mt-10 px-6 py-3 bg-red-700 hover:bg-red-600 rounded-lg text-white font-semibold transition animate__animated animate__bounceIn animate__slow">
    Contact Me
  </button>
  <div class="flex flex-wrap justify-center mt-10 gap-4 sm:gap-6">
    <fa-icon *ngFor="let icon of icons"
             [icon]="icon"
             class="text-zinc-400 text-2xl sm:text-3xl md:text-4xl animate__animated animate__zoomIn animate__slower">
    </fa-icon>
  </div>
</section>
